@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Light;
  src: url('../fonts/poppins/Poppins-Light.ttf'); 
}


body, html {
	height: 100%;
	font-family: Montserrat, sans-serif;
  font-weight: 400;
}

/* ------------------------------------ */
a {
	font-family: Montserrat;
  font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Montserrat;
  font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

/*[ Button3 ]
///////////////////////////////////////////////////////////
*/

.btn3 {
  background: #111111;
  border-radius: 10px;
}

.btn3:hover {
  background-color: #ec1d25;
  color: white;
}

/*[ Item mainmenu ]
///////////////////////////////////////////////////////////
*/

.line-item-mainmenu {
  flex-grow: 1;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .line-item-mainmenu {
    display: none;
  }

  .price-item-mainmenu {
    padding-top: 5px;
  }

  .name-item-mainmenu {
    width: 100%;
  }

}

/*[ CUSTOM ]
///////////////////////////////////////////////////////////
*/
.custom-row {
  display: flex;
  justify-content: space-between;
}

.f-c {
  display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.custom-flex-column80 {
  flex: 0.8;
}

.custom-flex-column20 {
  flex: 0.2;
}
